.login-container {
    width: 600px;
    padding-bottom: 30px;
}
.sign-btn img {
    width:40px;
    height: 40px;
}
.sign-btn {
    background-color: #fff;
    border:1px solid grey;
    border-radius: 20px;
    margin-bottom: 10px;
}
.form-container {
    border : 1px solid #000;
    padding : 15px;
    margin-bottom : 15px ;
}
hr {
    border-top: 2px solid #ddd;
    height: 2px;
    width: 180px;

}
.login-wrapper {
    background-color: #fff !important;
}
.login-link {
    color:#275A53;
}